<link rel="stylesheet" href="/css/cracker1.css" />
<audio
  type="audio/mpeg"
  controls="none"
  autoplay
  id="audio1"
  src="https://virtualgadgets.in/diwali/fire.mp3"
></audio>
<link rel="stylesheet" href="/css/cracker2.css" />

<main>
  <div>
    <!-- <center> <span style="color:whitesmoke;position:fixed;top:0px;margin:auto;left:0;right:0;">click on screen</span></center> -->
    <h1
      class="red-text ak"
      style="text-align: center; font-weight: normal; font-size: 50px"
    >
      Happy Diwali
    </h1>
    <a
      href="https://www.linkedin.com/in/anubhav-kumar-83b89a180/"
      target="_blank"
      ><h3
        class=""
        style="
          position: fixed;
          bottom: 20px;
          margin: auto;
          right: 30px;
          text-align: center;
          color: #fefcd7;
          font-size: 18px;
          text-shadow: #fefcd7 0 0 30px, #fefcd7 1px 0 1px;
        "
      >
        Anubhav Singh
      </h3></a
    >

    <br /><br />
  </div>

  <footer class="footer footer-inverse" style="margin-bottom: 0">
    <div class="container">
      <!-- Start of SimpleHitCounter Code -->
      <!-- End of SimpleHitCounter Code -->
    </div>
  </footer>
</main>
<script src="/js/script2.js"></script>
